<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539248248097-20529qisj94nsaggn1ituran13ehclt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539248248097-20529qisj94nsaggn1ituran13ehclt6</string>
	<key>API_KEY</key>
	<string>AIzaSyC091RLVHpET8iggj_EwlEm8dS1LFqdESw</string>
	<key>GCM_SENDER_ID</key>
	<string>539248248097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cars-conneted.app</string>
	<key>PROJECT_ID</key>
	<string>cars-connected-2ffc4</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-connected-2ffc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539248248097:ios:84cec0b894357bf5002a60</string>
</dict>
</plist>